body {
  margin: 8px;
  font-family: Arial, sans-serif;
  background: radial-gradient(circle, rgb(227 227 227), rgb(56 73 67));
  }
.about-container {
  padding: 50px;
  text-align: center;
}

.about-info {
  background-color: #e5e5e0; /* Beige ton */
  padding: 20px;
  border-radius: 10px; /* Större radius för en mjukare form */
  box-shadow: 2px 2px 5px #ccc; /* Mjukare skugga */
  margin: 50px auto; /* Lägg till margine för mer avstånd */
  max-width: 700px; /* Större bredd för mer innehåll */
  text-align: left;
  transition: all 0.3s ease-in-out; /* Lägg till animation för övergång */
}

.about-info:hover {
  transform: translateY(-10px); /* Flytta elementet uppåt vid muspekaren */
  box-shadow: 4px 4px 10px #ccc; /* Större skugga vid muspekaren */
}

.about-info h1 {
  margin-bottom: 20px;
  font-size: 32px; /* Större textstorlek för huvudrubrik */
  color: #333; /* Mörkare textfärg */
  text-shadow: 1px 1px #ccc; /* Lägg till textskugga */
}

