

.submit-button {
    position: relative;
    text-align: center;
    bottom: 0px;
    
  }

  /* CSS styles */
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fffdfd;
  }
  /* Image styles */
  .image {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    max-width: 600px;
  }
  /* Box styles */
   .box {
      width: 50%;
      height: 100px;
      background-color: #fff;
      margin-bottom: 20px; /* 20px margin på botten för varje box */
      box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    }
   .box p {
     padding: 20px;
   }
   
   .codeandinfo{
        display: flex;
        flex-direction: column; /* change direction to be vertically stacked */
        justify-content: center;
        margin: 0 20%;
        padding: 0 3%;
        
   }

   .info{
    padding-bottom: 10px;
    margin:0 auto;
    background-color: rgb(251, 251, 251);
    padding: 10px;
   }
   .CodeMirror {
    height: 700px;
    background-color: rgb(194, 189, 189);
    color: rgb(34, 33, 33);
    display: block;
  }
   .example{
    padding:5px;
    border-radius: 10px;
    background-color: #d1d1d1;
    margin: 5px auto;
   }


@media only screen and (max-width: 1000px){

    .codeandinfo{
        display: flex;
        flex-direction: column; /* change direction to be vertically stacked */
        justify-content: center;
        margin: 0 0;
        padding: 0 0;
   }
   .example{
    padding:5px;
    border-radius: 10px;
    background-color:#E9F1FA;
    margin: 5px auto;
   }
   .info{
    padding-bottom: 10px;
    margin:0 auto;
    background-color:#E9F1FA;
    padding: 10px;
   }





}