body {
  margin: 8px;
  font-family: Arial, sans-serif;
  background: radial-gradient(circle, rgb(227 227 227), rgb(56 73 67));
  }

  .contact-container {
    padding: 50px;
    text-align: center;
  }
  .contact-form {
    background-color: #e5e5e0;
  padding: 20px;
  border-radius: 10px; /* Större radius för en mjukare form */
  box-shadow: 2px 2px 5px #ccc; /* Mjukare skugga */
  margin: 50px auto; /* Lägg till margine för mer avstånd */
  max-width: 700px; /* Större bredd för mer innehåll */
  text-align: left;
  transition: all 0.3s ease-in-out; /* Lägg till animation för övergång */
}
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
  }
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }