body {
  margin: 8px;
  font-family: Arial, sans-serif;
  background: radial-gradient(circle, rgb(227 227 227), rgb(56 73 67));
  }

  /* Image styles */
  .image {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    max-width: 600px;
  }
  /* Box styles */
   .box {
      width: 50%;
      height: 100px;
      background-color: #fff;
      margin-bottom: 20px; /* 20px margin på botten för varje box */
      box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    }
   .box p {
     padding: 20px;
   }

   .box:hover{
    background-color: #bebdbd;
    cursor: pointer;
   }
