body {
  margin: 8px;
  font-family: Arial, sans-serif;
  background: radial-gradient(circle, rgb(227 227 227), rgb(56 73 67));
  }

  /* Toolbar styles */
  .toolbar {
    background-color: #333;
    color: #fff;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  }
  /* Logo styles */
  .logo {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
  }
  /* Nav styles */
  nav {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  /* Nav links */
  nav a {
    color: #fff;
    font-size: 16px;
    padding: 0 10px;
    text-decoration: none;
    transition: background-color 0.2s ease-out;
  }
  nav a:hover {
    background-color: rgba(255,255,255,0.1);
  }
  /* Image styles */
  .image {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    max-width: 600px;
  }
  /* Box styles */
   .box {
      width: 50%;
      height: 100px;
      background-color: #fff;
      margin-bottom: 20px; /* 20px margin på botten för varje box */
      box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    }
   .box p {
     padding: 20px;
   }

   .box:hover{
    background-color: #bebdbd;
    cursor: pointer;
   }
